.footer-area {
   background: #121212;
}
.footer-padding {
   padding-top: 105px;
   padding-bottom: 50px;
}
.footer-area .footer-heading {
   padding-bottom: 51px;
   margin-bottom: 82px;
   border-bottom: 1px solid #1a2537;
}
.row {
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   margin-right: -15px;
   margin-left: -15px;
}
.footer-area .footer-heading .wantToWork-caption h2 {
   color: #fff;
   font-size: 36px;
   font-weight: 700;
   line-height: 1.2;
   font-family: 'Barlow', sans-serif;
   margin: 0;
}
.f-right {
   float: right;
}
.footer-area .footer-heading .contact-number {
   color: #1e90ff;
   font-size: 36px;
   font-weight: 700;
}
.footer-area .footer-top .single-footer-caption .footer-tittle h4 {
   color: #fff;
   font-family: 'Barlow', sans-serif;
   font-size: 18px;
   margin-bottom: 38px;
   font-weight: 500;
   text-transform: uppercase;
}
.footer-area .footer-top .single-footer-caption .footer-tittle ul li {
   color: #bbbcbc;
   margin-bottom: 15px;
   text-transform: capitalize;
}
.footer-area .footer-top .single-footer-caption .footer-tittle ul li a {
   color: #868c98;
   font-weight: 300;
}
.footer-area .footer-top .single-footer-caption .footer-logo {
   margin-bottom: 30px;
}
.footer-area .footer-top .single-footer-caption .footer-pera .info1 {
   line-height: 1.8;
   margin-bottom: 30px;
   padding-right: 0;
   color: #c4c4c4;
   font-size: 14px;
}
.footer-area .footer-social a {
   color: #848493;
   font-size: 18px;
   text-align: center;
   margin-left: 24px;
}
.footer-area .footer-bottom {
   padding-bottom: 50px;
   padding-top: 20px;
}
.footer-area .footer-bottom .footer-copy-right p {
   color: #bbbcbc;
   font-weight: 300;
   font-size: 16px;
   line-height: 2;
   margin-bottom: 12px;
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
   .footer-area .footer-top .single-footer-caption .footer-pera .info1 {
      padding-right: 0px;
   }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
   .footer-area .footer-top .single-footer-caption .footer-pera .info1 {
      padding-right: 0px;
   }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
   .footer-area .footer-top .single-footer-caption .footer-pera .info1 {
      padding-right: 0px;
   }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
   .footer-area .footer-heading .contact-number {
      float: left;
      margin-top: 30px;
   }
}
@media (max-width: 575px) {
   .footer-area .footer-heading .contact-number {
      float: left;
      margin-top: 20px;
      font-size: 30px;
   }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
   .footer-area .footer-heading .contact-number {
      float: left;
      margin-top: 30px;
   }
}
@media (max-width: 575px) {
   .footer-area .footer-heading .wantToWork-caption h2 {
      font-size: 25px;
      margin-bottom: 20px;
   }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
   .footer-area .footer-heading .wantToWork-caption h2 {
      font-size: 30px;
   }
}
@media (max-width: 575px) {
   .footer-padding {
      padding-top: 80px;
      padding-bottom: 0px;
   }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
   .footer-padding {
      padding-top: 80px;
      padding-bottom: 0px;
   }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
   .footer-padding {
      padding-top: 100px;
      padding-bottom: 50px;
   }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
   .footer-padding {
      padding-top: 105px;
      padding-bottom: 50px;
   }
}
